<h1>Lista de productos</h1>
<section>
	<div class="products-container">
		{{#each payload}}
		<div class="product-card">
			<img src="{{this.thumbnail}}" alt="{{this.title}}">
			<span class="price">{{this.price}} </span>
			<h3>{{this.title}}</h3>
			<p>{{this.description}}</p>
			<button data-modal-target="{{this._id}}" class="more-btn">Mostrar más</button>
			<div id="{{this._id}}" class="modal-container">
				<div class="menu-content">
					<span class="price">{{this.price}} </span>
					<button data-close-button class="close-button">&times;</button>
					<img src="{{this.thumbnail}}" alt="{{this.title}}">
					<h3>{{this.title}}</h3>
					<h4>{{this.category}}</h4>
					<p>{{this.description}}</p>
					<b>SKU: {{this.code}}</b>
					<p>Stock: {{this.stock}}</p>
					{{#unless this.loggedIn}}
					<button data-product-id="{{this._id}}" data-cart-id="{{cart}}" class="add-to-cart">Agregar al
						carrito</button>
					{{/unless}}
				</div>
			</div>
			{{#if loggedIn}}
			<button data-product-id="{{this._id}}" data-cart-id="{{this.cart}}" class="add-to-cart">Agregar al
				carrito</button>
			{{/if}}
		</div>
		{{/each}}
	</div>
	<div class="paginator">
		<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
		<p>Página actual: {{page}}</p>
		<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Siguiente</a>
	</div>
</section>